@CHARSET "ISO-8859-1";

body {
	background-color:#231f20;
	color:#21f20f;
}
#outerContainer {
  width:820px;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #21f20f;
  position:relative;
}
#headerDiv {
	margin-left:auto;
	margin-right:auto;
	width:790px;
}
fieldset {
	border:none;
}
#upperMenuDiv {
	width:790px;
	margin-left:auto;
	margin-right:auto;
}
#sizeDiv {
width:387px;
float:left;
margin-left:10px;
	margin-bottom:10px;
}
#crustDiv {
width:387px;
float:right;
margin-left:5px;
	margin-bottom:10px;
}
#middleMenuDiv {
	width:790px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}
#meatDiv {
	width:387px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
}
#veggieDiv {
width:387px;
float:right;
margin-left:5px;
	margin-bottom:10px;
}
#totalDiv {
	width:790px;
	clear:both;
	text-align:center;
}
h1 {
text-align:center;
}
#lowerMenuDiv {
	width:790px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}
#billingInfo {
	width:387px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
}
#billingname {
width:200px;
}
#billingaddress {
width:250px;
}
#billingcity {
width:90px;
}
#billingstate {
width:25px;
}
#billingzip {
width:50px;
}
#billingemail {
	width:250px;
}
#cardNumber {
	width:250px;
}
#shippingInfo {
	width:387px;
	float:right;
	margin-left:5px;
	margin-bottom:10px;
}
#shippingname {
width:200px;
}
#shippingaddress {
width:250px;
}
#shippingcity {
width:90px;
}
#shippingstate {
width:25px;
}
#shippingzip {
width:50px;
}
#shippingemail {
	width:250px;
}
#submitDiv {
	clear:both;
	text-align:center;
}
#footerDiv {
	text-align:center;
}
.same {
	text-align:center;
}
#errormsg {
border:2px solid #c00;
padding:5px;
width:20em;
margin-left:auto;
margin-right:auto;
clear:both;
margin-bottom:10px;
}    
.error {
background:#fcc;
}
#captchaDiv {
	text-align:center;
	clear:both;
	width:790px;
	margin-bottom:10px;
}
#captchaDiv label {
	margin-left:15px;
}
.req {
	color:#C00;
	margin-left:3px;
}